<div class="container">
  <div class="main-title">
    <h1>Keg Room</h1>
    <p>Welcome to the Keg control room!</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
    </div>
    <div class="col-md-6">
      <app-keg-list [childKegList] = "masterKegList" (clickSender)="editKeg($event)"></app-keg-list>
    </div>
    <div class="col-md-3">
      <app-edit-keg [selectedKeg]="selectedKeg" (clickDone) ="finishedEditing()"></app-edit-keg>
    </div>
  </div>
  <div class="beer-photo">
    <img src='./assets/img/taps.jpg' alt="">
  </div>
</div>
